<div class="container-fluid">
  <div class="row tab-row">
    <div class="col-10 offset-1">
      <div class="row" style="justify-content: center">
        <div class="success-icon">
          <img src="../../assets/success-icon.svg" alt="" />
        </div>
      </div>

      <div class="row" style="margin-top: 20px; text-align: center">
        <h2>Ordine effettuato con successo!</h2>
      </div>
      <br />
      <div class="row" style="text-align: center">
        <h5 class="home-redirect" (click)="navToHome()">Torna alla Home</h5>
      </div>
    </div>
  </div>
</div>
