<p-card [header]="prodotto.nome" [subheader]="prodotto.categoria.nome" styleClass="card">
  <ng-template pTemplate="header">
    <div class="row" style="margin-top: 5px">
      <div class="col-8" *ngIf="disponibile">
        <div class="disponibilita-container disponibile">
          <h4 style="color: white">Disponibile</h4>
        </div>
      </div>

      <div class="col-8" *ngIf="limitato">
        <div class="disponibilita-container limitato">
          <h4 style="color: white">Limitato</h4>
        </div>
      </div>

      <div class="col-8" *ngIf="nonDisponibile">
        <div class="disponibilita-container esaurito">
          <h4 style="color: white">Non disponibile</h4>
        </div>
      </div>

      <div class="col-2">
        <div class="sconto-container" *ngIf="scontato">
          <h5>{{ prodotto.sconto }}%</h5>
          <i class="pi pi-tag" style="color: tomato; font-size: 1rem"></i>
        </div>
      </div>
    </div>

    <img alt="Card" [src]="prodotto.image" class="card-img" />
  </ng-template>
  <div style="display: flex; gap: 20px">
    <h4 *ngIf="!scontato">{{ prodotto.prezzo | currency: "EUR" }}</h4>

    <h4 *ngIf="scontato" class="cancel-text">
      {{ prodotto.prezzo | currency: "EUR" }}
    </h4>
    <h4 *ngIf="scontato">{{ prodotto.prezzoScontato | currency: "EUR" }}</h4>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-shopping-cart"
      class="p-button-rounded"
      [disabled]="nonDisponibile"
      (click)="addToCart()"
    ></button>
  </div>
</p-card>
