<p-card
  [header]="prodotto.nome"
  [subheader]="prodotto.categoria.nome"
  styleClass="card"
  (click)="showInfo()"
>
  <ng-template pTemplate="header">
    <div class="row" style="margin-top: 5px">
      <div class="col-8" *ngIf="disponibile">
        <div class="disponibilita-container">
          <h4 class="disponibile">Disponibile</h4>
        </div>
      </div>

      <div class="col-8" *ngIf="limitato">
        <div class="disponibilita-container">
          <h4 class="limitato">Limitato</h4>
        </div>
      </div>

      <div class="col-8" *ngIf="nonDisponibile">
        <div class="disponibilita-container">
          <h4 class="esaurito">Non disponibile</h4>
        </div>
      </div>

      <div class="col-2">
        <div class="sconto-container" *ngIf="scontato">
          <h5>{{ prodotto.sconto }}%</h5>
          <i class="pi pi-tag" style="color: tomato; font-size: 1rem"></i>
        </div>
      </div>
    </div>

    <img alt="Card" [src]="prodotto.image" class="card-img" />
  </ng-template>
  <div style="display: flex; gap: 20px">
    <h4 *ngIf="!scontato">{{ prodotto.prezzo | currency: "EUR" }}</h4>

    <h4 *ngIf="scontato" class="cancel-text">
      {{ prodotto.prezzo | currency: "EUR" }}
    </h4>
    <h4 *ngIf="scontato">{{ prodotto.prezzoScontato | currency: "EUR" }}</h4>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-shopping-cart"
      class="p-button-rounded"
      [disabled]="nonDisponibile"
      (click)="showDialog = true"
    ></button>
  </div>
</p-card>

<!--Pannello selezione quantità-->
<p-dialog
  header="Seleziona quantità"
  [(visible)]="showDialog"
  position="left"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <h5>{{ prodotto.nome }}</h5>
  <p-inputNumber
    [(ngModel)]="quantitaSelezionata"
    [showButtons]="true"
    buttonLayout="horizontal"
    spinnerMode="horizontal"
    decrementButtonClass="p-button-secondary"
    incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus"
    [min]="prodotto.minOrd"
    [max]="prodotto.maxOrd"
  >
  </p-inputNumber>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="addToCart()"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
