<div *ngIf="showLoading; else showTable">
  <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #showTable>
  <p-table
    #ordiniAdmin
    [value]="ordini"
    dataKey="id"
    [globalFilterFields]="['utente.username']"
    [responsive]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="ordiniAdmin.filterGlobal($event.target.value, 'contains')"
            placeholder="Cerca ordini per utente"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="quantita">Prodotti ordinati</th>
        <th>Effettuato da</th>
        <th pSortableColumn="stato">Stato</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ordine let-expanded="expanded">
      <tr>
        <td>
          <span class="riga-sm">Visualizza prodotti</span>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="ordine"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td>
          <span class="riga">
            {{ ordine.prodotti.length }}
          </span>
          <span class="riga-sm">
            Prodotti ordinati: {{ ordine.prodotti.length }}
          </span>
        </td>
        <td *ngIf="ordine.utente">
          <span class="riga">
            {{ ordine.utente.usetname }}
          </span>
          <span class="riga-sm">
            Effettuato da: {{ ordine.utente.username }}
          </span>
        </td>
        <td>
          <p-tag *ngIf="ordine.evaso" severity="success" value="Evaso"></p-tag>
          <p-tag
            *ngIf="!ordine.evaso"
            severity="warning"
            value="Non evaso"
          ></p-tag>
        </td>
        <td *ngIf="!ordine.evaso">
          <div>
            <button
              pButton
              pRipple
              icon="pi pi-check"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="evadi(ordine)"
              pTooltip="Evadi ordine"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-ordine>
      <tr>
        <td colspan="5">
          <div class="p-p-3">
            <p-table [value]="ordine.prodotti" dataKey="id" [responsive]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Id</th>
                  <th pSortableColumn="nome">Nome</th>
                  <th pSortableColumn="prezzo">Prezzo</th>
                  <th pSortableColumn="immagine">Foto</th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-prodotto>
                <tr>
                  <td>
                    {{ prodotto.id }}
                  </td>
                  <td>
                    {{ prodotto.nome }}
                  </td>
                  <td>
                    {{ prodotto.prezzo | currency: "EUR" }}
                  </td>
                  <td>
                    <img
                      [src]="prodotto.image"
                      [alt]="prodotto.nome"
                      width="100"
                      class="p-shadow-4"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
