<div class="container-fluid">
  <br />
  <div class="row">
    <h3>Proponi la vendita di un prodotto</h3>
  </div>
  <br />
  <br />
  <div class="row" *ngIf="checkUtente(); else showRedirect">
    <form [formGroup]="formProposta" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label for="nome" class="form-label">Nome Prodotto</label>
          <input id="nome" type="text" formControlName="nome" pInputText />
        </div>
        <div class="p-field p-col-12">
          <label for="descrizione" class="form-label"
            >Descrizione Prodotto</label
          >
          <textarea
            pInputTextarea
            id="descrizione"
            formControlName="descrizione"
          ></textarea>
        </div>
        <br>
        <div class="p-field p-col-12 p-md-6">
          <label for="prezzoProposto" class="form-label"
            >Prezzo proposto (€)</label
          >
          <input
            id="prezzoProposto"
            type="number"
            formControlName="prezzoProposto"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="quantita" class="form-label"
            >Quantità disponibile:
          </label>
          <input
            id="quantita"
            type="number"
            formControlName="quantita"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="image" class="form-label">URL Immagine</label>
          <input id="image" type="text" formControlName="image" pInputText />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button
            pButton
            pRipple
            type="submit"
            class="p-button p-button-primary"
            icon="pi pi-check"
            label="Invia"
            [disabled]="!this.formProposta.valid || this.showLoading"
          ></button>
        </div>
        <div class="col-2">
          <div *ngIf="showLoading">
            <i class="pi pi-spinner" style="font-size: 1rem"></i>
          </div>
          <p *ngIf="success" class="disponibile">Grazie per la tua proposta!</p>
          <p *ngIf="error" class="esaurito">
            Errore durante la procedura, riprova
          </p>
        </div>
      </div>
    </form>
  </div>

  <ng-template #showRedirect>
    <div class="row" style="justify-content: center">
      <div class="success-icon">
        <img src="../../assets/access-denied.svg" alt="" />
      </div>
    </div>

    <div class="row" style="margin-top: 20px; text-align: center">
      <h2>Non puoi effettuare questa operazione senza aver effettuato l'accesso</h2>
    </div>
    <br />
    <div class="row" style="text-align: center">
      <h5 class="home-redirect" (click)="navToLogin()">Accedi/Registrati</h5>
    </div>
  </ng-template>

</div>
