<div class="container-fluid">
  <br />
  <div class="row">
    <h3>Proponi la vendita di un prodotto</h3>
  </div>
  <br />
  <br />
  <div class="row">
    <form [formGroup]="formProposta" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label for="nome" class="form-label">Nome Prodotto</label>
          <input id="nome" type="text" formControlName="nome" pInputText />
        </div>
        <div class="p-field p-col-12">
          <label for="descrizione" class="form-label"
            >Descrizione Prodotto</label
          >
          <textarea
            pInputTextarea
            id="descrizione"
            formControlName="descrizione"
          ></textarea>
        </div>
        <div class="p-field p-col-12">
          <label for="categoria" class="form-label">Categoria Prodotto</label>
          <p-dropdown
            placeholder="Scegli categoria esistente o da te aggiunta"
            [options]="categorie"
            formControlName="categoria"
            optionLabel="nome"
          ></p-dropdown>
          <br>
          <div class="row">
            <div class="col-2">
              <button
                pButton
                pRipple
                type="button"
                label="Nuova categoria"
                class="p-button p-button-success"
                (click)="showDialog = true"
              ></button>
            </div>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="prezzoProposto" class="form-label"
            >Prezzo proposto (€)</label
          >
          <input
            id="prezzoProposto"
            type="number"
            formControlName="prezzoProposto"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="quantita" class="form-label"
            >Quantità disponibile:
          </label>
          <input
            id="quantita"
            type="number"
            formControlName="quantita"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="image" class="form-label">URL Immagine</label>
          <input id="image" type="text" formControlName="image" pInputText />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button
            pButton
            pRipple
            type="submit"
            class="p-button p-button-primary"
            icon="pi pi-check"
            label="Invia"
            [disabled]="!this.formProposta.valid || this.showLoading"
          ></button>
        </div>
        <div class="col-2">
          <div *ngIf="showLoading">
            <i class="pi pi-spinner" style="font-size: 1rem"></i>
          </div>
          <p *ngIf="success" class="disponibile">Grazie per la tua proposta!</p>
          <p *ngIf="error" class="esaurito">
            Errore durante la procedura, riprova
          </p>
        </div>
      </div>
    </form>
  </div>

  <!--Pannello creazione categoria-->
  <p-dialog
    header="Nuova categoria"
    [(visible)]="showDialog"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div *ngIf="adding">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <input
      *ngIf="!adding"
      type="text"
      pInputText
      [(ngModel)]="nomeCategoria"
      placeholder="Nome Categoria"
    />
    <p class="esaurito" *ngIf="errorAdd">Errore: Categoria già esistente</p>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="addCategoria()"
        label="Aggiungi categoria"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
