<div class="container-fluid">
  <p-toast></p-toast>
  <!--Spinner-->
  <div *ngIf="showLoading; else showTable">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <!--Data table-->
  <ng-template #showTable>
    <p-dataView
      #dv
      [value]="prodotti"
      layout="grid"
      [globalFilterFields]="['nome', 'categoria.nome']"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <input
          type="search"
          pInputText
          placeholder="Cerca per nome o categoria"
          (input)="dv.filterGlobal($event.target.value)"
        />
      </ng-template>
      <ng-template let-prodotto pTemplate="gridItem">
        <!--Card Prodotto-->
        <div class="p-col-12 p-md-4" *ngIf="prodotto.categoria.nome">
          <app-product-card [prodotto]="prodotto"></app-product-card>
        </div>
        <!---->
      </ng-template>
    </p-dataView>
  </ng-template>
</div>
