<div class="container-fluid">
  <div class="row" class="tab-row">
    <div class="col-10 offset-1">
      <p-tabView>
        <p-tabPanel header="Prodotti">
          <ng-template pTemplate="content">
            <app-products-table></app-products-table>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Vendi un prodotto">
          <ng-template pTemplate="content">
            <app-add-proposta></app-add-proposta>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Lascia un feedback">
          <ng-template pTemplate="content">
            <app-add-feedback></app-add-feedback>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
