<div class="container-fluid">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="logo-row">
        <img src="../../assets/Elishop_logo.png" class="login-logo" alt="" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-10 offset-1">
      <div class="form-container">
        <br />
        <br />
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h5 class="form-label">Nome utente:</h5>
          <input type="text" pInputText formControlName="username" />
          <br />
          <br />
          <h5 class="form-label">Password:</h5>
          <input type="password" pInputText formControlName="password" />
          <br />
          <br />
          <br />
          <div class="row">
            <p-button
              label="Accedi"
              icon="pi pi-user"
              styleClass="p-button-rounded login-button"
              [loading]="showLoading"
              [disabled]="!this.loginForm.valid"
              type="submit"
            ></p-button>
          </div>
          <div class="row">
            <p class="error" *ngIf="error">Credenziali errate, riprova</p>
          </div>
          <br />
          <div class="row">
            <p-button
              label="Registrati"
              icon="pi pi-sign-in"
              styleClass="p-button-rounded login-button"
              (click)="navToRegister()"
            ></p-button>
          </div>
          <br />
          <br />
          <div class="row" style="text-align: center">
            <h5 class="home-redirect" (click)="navToHome()">Torna alla Home</h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
