<div class="navbar">
  <div class="nav-content">
    <!--<button pButton pRipple type="button" icon="pi pi-bars" class="p-button menu-button" (click)="showMenu()" ></button>-->

    <div>
      <img src="../../assets/Elishop_logo.png" class="nav-logo" alt="" />
    </div>

    <div class="nav-left">
      <p-button
        label="Il tuo carrello"
        icon="pi pi-shopping-cart"
        styleClass="p-button-warning nav-button"
        [badge]="this.CarrelloService.carrello.length"
        badgeClass="p-badge-danger"
      ></p-button>

      <p-button
        label="Accedi/Registrati"
        icon="pi pi-user"
        styleClass="p-button-rounded nav-button"
        (click)="navToLogin()"
        *ngIf="!isLogged()"
      ></p-button>

      <p-button
        [label]="utente.nome"
        icon="pi pi-user"
        styleClass="p-button-rounded nav-button"
        *ngIf="isLogged()"
      ></p-button>
    </div>
  </div>
</div>
