<div class="navbar">
  <div class="nav-content">
    <!--<button pButton pRipple type="button" icon="pi pi-bars" class="p-button menu-button" (click)="showMenu()" ></button>-->

    <div (click)="navToHome()" pTooltip="Torna alla Home">
      <img src="../../assets/Elishop_logo.png" class="nav-logo" alt="" />
    </div>

    <div class="home-hint" *ngIf="!home">
      <p class="form-label"><-Home</p>
    </div>

    <div class="nav-left">
      <p-button
        label="Il tuo carrello"
        icon="pi pi-shopping-cart"
        styleClass="p-button-warning nav-button"
        [badge]="this.CarrelloService.carrello.length"
        badgeClass="p-badge-danger"
        (click)="getCarrello()"
        *ngIf="!isAdmin()"
      ></p-button>

      <p-button
        label="Accedi/Registrati"
        icon="pi pi-user"
        styleClass="p-button-rounded nav-button"
        (click)="navToLogin()"
        *ngIf="!logged"
      ></p-button>

      <p-button
        [label]="utente.nome"
        icon="pi pi-user"
        styleClass="p-button-rounded nav-button"
        *ngIf="logged"
        (click)="showOpzioni(opzioniUtente, $event)"
      ></p-button>

      <!--Pannello riepilogo carrello-->
      <p-dialog
        header="Il tuo carrello"
        [(visible)]="showDialog"
        [modal]="true"
        [style]="{ width: '100vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <app-cart-table [righeCarrello]="righeCarrello"></app-cart-table>

        <ng-template pTemplate="footer">
          <p-button
            icon="pi pi-check"
            label="Conferma"
            styleClass="p-button-text"
            (click)="navToCheckout()"
          ></p-button>
        </ng-template>
      </p-dialog>
    </div>
  </div>

  <!--Overlay Utente-->
  <p-overlayPanel #opzioniUtente>
    <ng-template pTemplate>
      <p-menu [model]="opzioni"></p-menu>
    </ng-template>
  </p-overlayPanel>
</div>
