<div *ngIf="showLoading; else showTable">
  <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #showTable>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Nuovo"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="nuovoProdotto()"
      ></button>
      <!--(click)="nuovoProdotto()"-->
    </ng-template>
  </p-toolbar>

  <p-table
    #catalogo
    [value]="prodotti"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['nome', 'prezzo', 'quantita']"
    dataKey="id"
    [responsive]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="catalogo.filterGlobal($event.target.value, 'contains')"
            placeholder="Cerca per nome"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nome">
          Nome <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Immagine</th>
        <th pSortableColumn="prezzo">
          Prezzo <p-sortIcon field="prezzo"></p-sortIcon>
        </th>
        <th pSortableColumn="quantita">
          Quantità <p-sortIcon field="quantita"></p-sortIcon>
        </th>
        <th pSortableColumn="categoria">
          Categoria <p-sortIcon field="categoria"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-prodotto>
      <tr>
        <td>{{ prodotto.nome }}</td>
        <td>
          <img
            [src]="prodotto.image"
            [alt]="prodotto.nome"
            width="100"
            class="p-shadow-4"
          />
        </td>
        <td>{{ prodotto.prezzo | currency: "EUR" }}</td>
        <td>{{ prodotto.quantita }}</td>
        <td>{{ prodotto.categoria.nome }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="modificaProdotto(prodotto)"
          ></button>
          <!---->
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="eliminaProdotto(prodotto)"
          ></button>
          <!--(click)="eliminaProdotto(prodotto)"-->
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!--Conferma eliminazione-->
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
    [breakpoints]="{ '960px': '75vw' }"
  ></p-confirmDialog>
</ng-template>

<!--Aggiunta prodotto-->
<p-dialog
  [(visible)]="dialAggiunta"
  [style]="{ width: '450px' }"
  header="Nuovo Prodotto"
  styleClass="p-fluid"
  [breakpoints]="{ '960px': '75vw' }"
>
  <ng-template pTemplate="content">
    <form [formGroup]="formAggiunta">
      <div class="p-field">
        <label for="nome">Nome</label>
        <input type="text" pInputText id="nome" formControlName="nome" />
      </div>
      <div class="p-field">
        <label for="descrizione">Descrizione</label>
        <textarea
          pInputTextarea
          id="descrizione"
          formControlName="descrizione"
        ></textarea>
      </div>
      <div class="p-field">
        <label for="categoria">Categoria</label>
        <p-dropdown
          [options]="categorie"
          optionLabel="nome"
          formControlName="categoria"
        ></p-dropdown>
        <br />
        <p-inplace closable="closable" [style]="{ 'min-height': '33px' }">
          <ng-template pTemplate="display"> Nuova categoria </ng-template>
          <ng-template pTemplate="content">
            <input type="text" formControlName="nomeCategoria" pInputText />
            <button
              pButton
              pRipple
              icon="pi pi-check"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="nuovaCategoria()"
            ></button>
          </ng-template>
        </p-inplace>
      </div>
      <div class="p-field">
        <label for="prezzo">Prezzo</label>
        <p-inputNumber
          id="prezzo"
          mode="currency"
          currency="EUR"
          locale="it-IT"
          formControlName="prezzo"
        ></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="sconto">Sconto</label>
        <p-inputNumber id="sconto" formControlName="sconto"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="quantita">Quantità</label>
        <p-inputNumber id="quantita" formControlName="quantita"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="minOrd">Ordinazione minima</label>
        <p-inputNumber id="minOrd" formControlName="minOrd"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="maxOrd">Ordinazione massima</label>
        <p-inputNumber id="maxOrd" formControlName="maxOrd"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="image">URL Immagine</label>
        <input type="text" pInputText id="image" formControlName="image" />
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Annulla"
      icon="pi pi-times"
      class="p-button-text"
      (click)="dialAggiunta = false"
    ></button>
    <button
      pButton
      pRipple
      label="Salva"
      icon="pi pi-check"
      class="p-button-text"
      (click)="salvaProdotto()"
    ></button>
  </ng-template>
</p-dialog>

<!--Modifica prodotto-->
<p-dialog
  [(visible)]="dialModifica"
  [style]="{ width: '450px' }"
  header="Modifica Prodotto"
  styleClass="p-fluid"
  *ngIf="prodottoSelezionato"
  [breakpoints]="{ '960px': '75vw' }"
>
  <ng-template pTemplate="content">
    <form [formGroup]="formModifica">
      <div class="p-field">
        <label for="nome">Nome</label>
        <input type="text" pInputText id="nome" formControlName="nome" />
      </div>
      <div class="p-field">
        <label for="descrizione">Descrizione</label>
        <textarea
          pInputTextarea
          id="descrizione"
          formControlName="descrizione"
        ></textarea>
      </div>
      <div class="p-field">
        <label for="categoria">Categoria</label>
        <p-dropdown
          [options]="categorie"
          optionLabel="nome"
          formControlName="categoria"
        ></p-dropdown>
        <br />
        <p-inplace closable="closable" [style]="{ 'min-height': '33px' }">
          <ng-template pTemplate="display"> Nuova categoria </ng-template>
          <ng-template pTemplate="content">
            <input type="text" formControlName="nomeCategoria" pInputText />
            <button
              pButton
              pRipple
              icon="pi pi-check"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="nuovaCategoria()"
            ></button>
          </ng-template>
        </p-inplace>
      </div>
      <div class="p-field">
        <label for="prezzo">Prezzo</label>
        <p-inputNumber
          id="prezzo"
          mode="currency"
          currency="EUR"
          locale="it-IT"
          formControlName="prezzo"
        ></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="sconto">Sconto</label>
        <p-inputNumber id="sconto" formControlName="sconto"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="quantita">Quantità</label>
        <p-inputNumber id="quantita" formControlName="quantita"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="minOrd">Ordinazione minima</label>
        <p-inputNumber id="minOrd" formControlName="minOrd"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="maxOrd">Ordinazione massima</label>
        <p-inputNumber id="maxOrd" formControlName="maxOrd"></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="image">URL Immagine</label>
        <input type="text" pInputText id="image" formControlName="image" />
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Annulla"
      icon="pi pi-times"
      class="p-button-text"
      (click)="dialModifica = false"
    ></button>
    <button
      pButton
      pRipple
      label="Salva"
      icon="pi pi-check"
      class="p-button-text"
      (click)="salvaModifiche()"
    ></button>
  </ng-template>
</p-dialog>
